/examples/MDF/conditions/everyncalls
/examples/MDF/conditions/threshold
/examples/MDF/conditions/timeinterval
/examples/MDF/conditions/composite_condition_example
/abc_conditions
examples/ONNX/data
examples/ONNX/*.onnx

/__pycache__
/build
/dist
*egg-info
*$py.class
/src/modeci_mdf/__pycache__
__pycache__
*.gv
/modeci_mdf/export/*.png
/modeci_mdf/export/*.dat
x86_64
*.mod
report.*txt
*.pyc
/private
/src/modeci_mdf/interfaces/clean.sh
/src/modeci_mdf/interfaces/*gv*
/src/modeci_mdf/interfaces/Sim*.json
.DS_Store

# SCM Versioning
src/modeci_mdf/version.py

# PyCharm project
.idea/

# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# operating system-related files
*.DS_Store #file properties cache/storage on macOS
Thumbs.db #thumbnail cache on Windows

# profiling data
.prof

# End of https://www.toptal.com/developers/gitignore/api/python

/src/modeci_mdf/interfaces/abcd_example_lems_definitions.xml
/src/modeci_mdf/interfaces/simple_example_lems_definitions.xml
/simple_example.gv.pdf
/abcd_example_lems_definitions.xml
/abcd_example.gv.pdf
/Simabcd_example.json
/examples/MDF/*.gv.pdf
/examples/MDF/medium_test.json
/examples/MDF/medium_test.yaml
/examples/MDF/small_test.json
/examples/MDF/small_test.yaml
/examples/MDF/medium_test.gv.png
/examples/MDF/small_test.gv.png
/sym*.ipynb
/black*.sh
/examples/MDF/*.dat
/examples/MDF/LEMS*.xml
/examples/MDF/*_example.json
/examples/MDF/*_example.net.nml
/examples/MDF/*__lems.xml
/examples/MDF/States.nmllite.json
/examples/MDF/clean.sh
/examples/MDF/simple_example_lems_definitions.xml
/examples/MDF/state_example_lems_definitions.xml
/examples/MDF/abcd_example_lems_definitions.xml
/src/modeci_mdf/interfaces/neuroml/Simsimple_example.json
/src/modeci_mdf/interfaces/neuroml/simple_example_lems_definitions.xml
/examples/NeuroML/*.dat
/examples/ONNX/ab
/examples/ONNX/abc
/examples/ONNX/abcd
/examples/NeuroML/clean.sh
/examples/PsyNeuLink/*.dat
/examples/MDF/simple
/examples/MDF/simple_3
/examples/MDF/abcd
/examples/MDF/arrays
/examples/MDF/states
/examples/MDF/abc_conditions
/examples/MDF/ABCD.nmllite.json
/examples/MDF/Simple.nmllite.json
/examples/MDF/abcd_3
/src/modeci_mdf/interfaces/graphviz/*gv.png
/src/modeci_mdf/*.png
/examples/PyTorch/inception
/examples/PyTorch/ddm
/examples/MDF/abcd.png
/examples/MDF/abcd_3.png
/test.json
/docs/sphinx/source/_build/
/examples/PyTorch/cifar.json
/examples/PyTorch/cifar_weights.npz
/examples/PyTorch/example_data/
/examples/PyTorch/data/
/examples/PyTorch/runs/
/docs/sphinx/source/api/_autosummary/
/examples/MDF/RNN/rnn
/examples/MDF/RNN/iaf
/examples/PyTorch/mlp_pure_mdf
*ek.sh
/examples/MDF/RNN/iaf
/examples/MDF/RNN/rnn
*_brian2.py
/examples/NeuroML/FNmulti
/examples/NeuroML/Izh
/examples/AB
/examples/AB.png
/examples/states
/examples/states.png
/examples/conditions
/examples/conditions.png
*.onnx
/examples/AB.json
/examples/AB.yaml
/examples/MDF/params_funcs_example
/examples/MDF/params_funcs_example_3
/examples/MDF/params_funcs_example_3.png
/examples/MDF/params_funcs_example.png
/examples/NeuroML/LEMS_SimFN_nrn.py
/examples/MDF/RNN/*.gv.png
/examples/MDF/RNN/*.dat
/examples/MDF/RNN/LEMS_Simiaf_example.xml
/examples/MDF/RNN/iaf_example.net.nml
/examples/MDF/RNN/iaf_example__lems.xml
/examples/MDF/RNN/iaf_example_lems_definitions.xml
/examples/PyTorch/simple_pytorch_to_mdf
/examples/PyTorch/simple_pytorch_to_mdf_torchviz
/examples/PyTorch/Translated_mlp_pure_mdf.json
/examples/PyTorch/simple_pytorch_to_mdf.1
/examples/MDF/NLP/TestNLP_3
/examples/MDF/NLP/TestNLP
/examples/MDF/conditions/composite_example
/examples/NeuroML/arm64
/examples/MDF/RNN/iaf.net
/examples/MDF/RNN/iaf.net2
/examples/TensorFlow/Keras/keras_to_MDF
/examples/NeuroML/PyNN/All*
/examples/NeuroML/PyNN/*dat
/examples/NeuroML/PyNN/*1.png
/examples/NeuroML/PyNN/*.1
/examples/NeuroML/PyNN/arm64
/examples/NeuroML/PyNN/*.pkl
/examples/NeuroML/PyNN/*.json
/examples/NeuroML/PyNN/*.mdf
/examples/NeuroML/PyNN/*.spikes
*_code.gen.c
examples/TensorFlow/Keras/Keras_to_MDF_IRIS/keras_to_MDF
examples/TensorFlow/Keras/keras_to_MDF
/examples/TensorFlow/Keras/Keras_MDF/Keras_to_MDF_IRIS/keras_to_MDF
/examples/TensorFlow/Keras/Keras_MDF/keras_to_MDF
/examples/NeuroML/PyNN/HH.yaml
/examples/NeuroML/PyNN/InputWeights.yaml
/examples/NeuroML/PyNN/Net1.yaml
/examples/NeuroML/PyNN/OneCell.yaml
/examples/NeuroML/PyNN/SimHH.yaml
/examples/NeuroML/PyNN/SimNet1.yaml
/examples/NeuroML/PyNN/SimOneCell.yaml
/examples/NeuroML/PyNN/SimSimpleNet.yaml
/examples/NeuroML/PyNN/SimpleNet.yaml
/examples/NeuroML/PyNN/SimInputWeights.yaml
/examples/TensorFlow/Keras/IRIS/keras_to_MDF
/examples/TensorFlow/Keras/MNIST/keras_to_MDF
/examples/TensorFlow/Keras/MNIST/keras_to_MDF.1
/examples/TensorFlow/Keras/IRIS/keras_to_MDF.1
/checkout_pngs.sh
/examples/TensorFlow/Keras/IRIS/keras_model_on_iris.keras
/examples/TensorFlow/Keras/MNIST/kr_N_model.keras
/checkoutpngs.sh
